@import "tables.css";
@import "anchor.css";
@import "ul.css";
@import "input.css";
@import "util.css";
@import "account-content-small.css";
@import "side-nav-small.css";

*, *::after, *::before {
    box-sizing: border-box;
}

@media (min-width: 600px) {

    /*----------------------------------------------------*/
    /*the following is for overall layout */
    #main-container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .flex-container-large {
        display: -webkit-flex;
        display: flex;
    }

    /*----------------------------------------------------*/
    /*the following is for side nav*/
    #side_nav {
        border-right: 2px solid grey;
        max-width: 300px;
        display: inline-block;
        height: 300px;
        border-radius: 30px;
    }

    #side_nav ul {
        list-style: outside none none;
        padding: 20px;
        margin: 0;
    }

    #side_nav ul li {
        border-bottom: 1px solid white;
    }

    #side_nav ul li a {
        font-size: 1.1em;
        padding: .6em .8em 0.4em;
        color: #FFFFFF;
        display: block;
    }

    .float-num {
        border-radius: 40px;
        padding: .2em .8em;
        margin-left: 0;
        margin-right: 0;
    }

    #tabbed-block {
        margin: 0;
        display: inline-block;
    }

    .flex-container-large br {
        clear: both;
    }

    /*----------------------------------------------------*/
    /*the following is for analysis ui*/
    .analysis_block, .user-list {
        float: left;
        width: 45%;
        margin: 1% 2% 1% 2%;
    }

    .container br {
        clear: left;
    }


    /*----------------------------------------------------*/
    /*the following is for advice ui*/

    .question-block {
        width: 90%;
        /*margin: 3% 2%;*/
        padding: 12px 0 10px;
    }

    .advice_head {
        width: 90%;
        margin: 3% 2%;
    }

    #advice-tab {
        padding-left: 4%;
    }

    .horizontal-li {
        font-size: 1em;
    }

    .search-input {
        padding: 2%;
        width: 80%;
    }

    /*----------------------------------------------------*/
    /*the following is for personal ui*/
    #personal, #settings {
        padding-left: 20px;
    }
}