@import "advice-content-small.css";

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#tabbed-block {
    padding: 0.8em;
    color: #4c84d4;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 500;
    background-color: white;
    background-size: cover;
}

/*------------------------------------------------------------*/
/*the following is main content*/

.container {
    margin: auto;
    max-width: 800px;
    display: none;
}

/*----------------------------------------------------*/
/*the following is for analysis ui*/

.analysis_block {
    margin: auto;
    border: 2px solid #c0ffb4;
    border-radius: 10px;
}

.all-health-data table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 10px;
}

.all-health-data tbody {
    color: black;
}

.graph {
    margin-top: 8%;
}

/*----------------------------------------------------*/
/*the following is for personal ui*/

#upload-file-container {
    background: url(../images/input-file.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    max-width: 160px;
}

#upload-file-container input {
    filter: alpha(opacity=0);
    opacity: 0;
}

.avatar-wrapper {
    margin: 10px;
    border: 1px solid #c0ffb4;
}

.avatar-wrapper input[type=file] {
    max-width: 160px;
    padding: 0;
    margin: 0;
}

.resize {
    max-width: 169px;
    width: 100%;
    height: auto;
}

/*--------------------------------------------------------*/
/*the following is for advice ui*/

.user-list {
    width: 100%;
    margin: auto;
}

/*--------------------------------------------------------*/
/*the following is for setting ui*/

.user-setting label, .personal-info label {
    display: inline-block;
    padding: 1% 2% 0;
}

#setting-search {
    margin: 1% 3%;
}