
/*--------------------------------------------------------*/
/*the following is for user management ui*/

.user-statistic {
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    border-right: 2px solid white;
}

.user-statistic p, .user-statistic h3 {
    text-align: center;
    font-size: .8em;
}

.user-statistic .user-choose {
    display: block;
    margin: 8px;
}

.user-statistic input {
    display: block;
    margin: 5px 1px 3px 0;
}


/*--------------------------------------------------------*/
/*the following is for user campaign management ui*/

