@import "tables.css";
@import "anchor.css";
@import "ul.css";

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#tabbed-block {
    padding: 0.8em;
    color: #4c84d4;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 500;
    /*background-image: url(../images/run.jpg);*/
    background-color: white;
    background-size: cover;
}

/*the following is side nav*/

#side_nav {
    background-color: #4c84d4;
}

#side_nav ul {
    list-style: outside none none;
    padding: 20px 40px;
    margin: 0;
}

#side_nav a {
    color: white;
}

#side_nav ul li a:hover {
    color: #48E7EB;
}

#side_nav a:active {
    content: ">";
}

.float-num {
    color: #4c84d4;
    background-color: white;
    border-radius: 30px;
    padding: .1em .8em;
    /*margin-right: 40%;*/
    float: left;
    font-size: .5em;

}

#side_nav li {
    border-radius: 20px;
}

#side_nav li a {
    display: block;
    padding: .2em;
    border-radius: 20px;
}

#side_nav li a br {
    clear: left;
}

.tab-chosen {
    background-color: white;
}

#side_nav ul .tab-chosen a {
    color: #4c84d4;
}

.tab-chosen .float-num {
    background-color: #4c84d4;
    color: white;
}

/*------------------------------------------------------------*/

/*upper is side nav, following is main content*/

.container {
    margin: auto;
    max-width: 800px;
    display: none;
}

/*the following is for health ui*/
.health_block {
    margin: auto;
}

.health_block table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.health_block tbody {
    color: black;
}

.health_block h4 {
    width: 100%;
    margin: 1em auto;
}

/*the following is for advice ui*/
.question_block {
    margin: 1% auto;
    background-color: #c0ffb4;
}

#question-tab {
    padding: 0;
    margin-top: 2%;
}

.horizontal-li {
    float: left;
    padding: 1% 3%;
    margin-right: 0;
    margin-left: 4%;
    background-color: #4c84d4;
    font-weight: 500;
    font-size: 0.8em;
}

.horizontal-li a {
    color: white;
}

#question-tab br {
    clear: left;
}

.question-title {
    font-size: 1.3em;
}

.question-des {
    font-size: 1em;
}

@media (min-width: 600px) {

    #main-container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .flex-container {
        display: -webkit-flex;
        display: flex;
    }

    .none {
        -webkit-flex: none;
        flex: none;
    }

    .flex1 {
        -webkit-flex: 1;
        flex: 1;
    }

    .flex2 {
        -webkit-flex: 2;
        flex: 2;
    }

    #side_nav {
        border-right: 2px solid grey;
        max-width: 300px;
        display: inline-block;
        max-height: 500px;
        border-radius: 30px;
    }

    #side_nav ul {
        list-style: outside none none;
        padding: 20px;
        margin: 0;
    }

    #side_nav ul li {
        /*padding-top: .25em;*/
        /*padding-bottom: .25em;*/
        border-bottom: 1px solid white;
    }

    #side_nav ul li a {
        font-size: 1.1em;
        padding: .6em .8em 0.4em;
        color: #FFFFFF;
        display: block;
    }

    .float-num {
        border-radius: 40px;
        padding: .2em .8em;
        margin-left: 0;
        margin-right: 0;
    }

    #tabbed-block {
        margin: 0;
        display: inline-block;
    }

    .flex-container br {
        clear: both;
    }

    .health_block {
        float: left;
        width: 45%;
        margin: 1% 2% 1% 2%;
    }

    .question_block {
        width: 90%;
        margin: 3% 2%;
    }

    .question_head {
        width: 90%;
        margin: 3% 2%;
    }

    #question-tab {
        padding-left: 4%;
    }

    .horizontal-li {
        font-size: 1em;
    }

    .search-input {
        padding: 2%;
        width: 90%;
    }

    .container br {
        clear: left;
    }

}