@import "advice-content-small.css";

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#tabbed-block {
    padding: 0.8em;
    color: #4c84d4;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 500;
    background-color: white;
    background-size: cover;
}

/*------------------------------------------------------------*/
/*the following is main content*/

.container {
    margin: auto;
    max-width: 800px;
    display: none;
}

/*----------------------------------------------------*/
/*the following is for health ui*/

.health_block {
    margin: auto;
    border: 2px solid #c0ffb4;
    border-radius: 10px;
}

.health_block table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.health_block tbody {
    color: black;
}

.health_block h4 {
    width: 100%;
    margin: 1em auto;
}

/*--------------------------------------------------------*/
/*the following is for campaign ui*/
.post {
    width: 100%;
    border-radius: 30px;
    border: 3px solid #c0ffb4;
    min-height: 300px;
    max-height: 500px;
}

.post .horizontal-center {
    border-bottom: 1px solid #c0ffb4;
}

.notice {
    display: none;
    width: 100%;
    padding: 2% 5%;
    border-bottom: 1px solid #c0ffb4;
}

.activity {
    margin-top: 5px;
    border: 1px solid #c0ffb4;
}

.activity h3 {
    display: inline;
    padding: 0 4%;
}

.activity-content {
    padding: 4% 8%;
}

.activity-join input {
    margin: 0;
    padding: 5% 20%;
    background-color: white;
    color: #42d2d6;
    font-size: 1.5em;
}


.activity-join input:focus {
    padding: 5% 20%;
}
