@import "anchor.css";

#main-header {
    width: 100%;
    border-bottom: 2px solid #c7c7c7;
    background-color: white;
}

#main-header p, #main-header img {
    margin: 1% 2%;
}

#main-header ul {
    display: none;
}

#logo, #app-name {
    float: left;
}

#app-name {
    color: #4c84d4;
    font-size: 1.1em;
    font-weight: 700;
}

.action {
    float: right;
}


#main-header br {
    clear: both;
}

@media (min-width: 600px) {

}