
*, *::after, *::before {
    box-sizing: border-box;
}

/*this works fine if container only has on child*/
.horizontal-center {
    display: flex;
    justify-content: center;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

