* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.square {
    /*background: url("../resource/earth.jpg");*/
    width: 25%;
    height: 25%;
    max-width: 600px;
    margin: 0 auto;
    border: dashed .2em #6ac4ac;
    float: left;
}

div.rect {
    width: 25%;
    height: 50%;
    margin: 0 auto;
    border: solid 0.5em #5a63b5;
    float: left;
}