
.logo {
    color: #ff776b;
    font-weight: 700;
    margin-left: 1em;
    float: left;
    min-width: 150px;
}

.action {
    float: right;
    color: #6b83d7;
    min-width: 200px;
    text-align: right;
    margin-right: 1em;
    font-family: FontAwesome sans-serif;
}
