
.logo {
    color: #ff776b;
    font-weight: 700;
    margin-left: 1em;
    float: left;
    min-width: 200px;
}

.action {
    float: right;
    color: #6b83d7;
    margin-left: 71%;
    min-width: 200px;
}