/*The ID selector #first has priority over the
class selectors(strong.blue > .carrot) and
tag selectors.(strong)

#first > strong.blue > .carrot > strong

*/
#first {
    font-style: italic;
}

#second {
    color: blue;
}

strong.blue {
    color: blue;
}

.carrot {
    color: orange;
}

.spinach {
    color: green;
}

strong {
    color: red;
    text-decoration: underline;
    font-size: 2em;
    background-color: grey;
}

p {
    font: italic 175%/225% "Comic Sans MS", cursive;
}

p:before {
    content: url("../resource/yellow-pin.png");
}

body {
    background: url("../resource/earth.jpg");
}