
a.homepage:link {
    padding: 1px 10px 1px 10px;
    color: #404040;
    background: white;
    border-radius: 10px;
    border: 10px outset rgba(50, 50, 50, .5);
    font-family: georgia, serif;
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
}

a.homepage:visited {
    padding: 1px 10px 1px 10px;
    color: #fff;
    background: #3d3d3d;
    border-radius: 3px;
    border: 1px outset rgba(50, 50, 50, .5);
    font-family: georgia, serif;
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
}

a.homepage:hover, a.homepage:focus, a.homepage:active {
    color: #4467d7;
}

div.menu-bar ul ul {
    display: none;
}

div.menu-bar li:hover > ul {
    display: block;
}