.box {
    display: inline-block;
    width: 20%;
    height: 20%;
    margin: 1em;
    border: solid 0.2em #89f5ff;
}

.main-container {
    position: relative;
    top: 15%;
    left: 200px;
    margin: 7em 3em;
    min-height: 400px;
    max-width: 80%;
}

body {
    min-height: 400px;
    /*max-width: 960px;*/
    /*width: 100%;*/
    display: flex;
}

div.analysis {

}