
.branch {
    padding: 0.8em;
    color: white;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 100;
    background-image: url(../images/branch.jpg);
    background-size: cover;
}

.half {
    float: left;
    margin: 1% 2% 1% 2%;
    width: 45%;
    display: inline-block;
}
