
.branch {
    padding: 0.8em;
    color: white;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 100;
    background-image: url(../images/branch.jpg);
    background-size: cover;
}

.half {
    float: left;
    margin: 1% 2% 1% 2%;
    width: 45%;
    display: inline-block;
}

.branch-container {
    margin: auto;
    max-width: 1000px;
}

#drop {
    color: #7e7e7e;
    margin: 20px 0 10px;
    width: 180px;
    min-height: 200px;
    border: 3px dashed #999;
    background: #eee;
    padding: 10px;
    display: block;
}

input[type='submit'] {
    background-color: #7e7e7e;
    color: white;
    margin-top: 20px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    font-size: 18px;
}

input[type='submit']:hover {
    background-color: white;
    color: #535353;
    cursor: hand;
}