*, *::before, *::after {
    box-sizing: border-box;
}

/*-----------------------------------------------------------------*/
/*the following is side nav*/

#side_nav {
    background-color: #4c84d4;
}

#side_nav ul {
    list-style: outside none none;
    padding: 20px 40px;
    margin: 0;
}

#side_nav a {
    color: white;
}

#side_nav ul li a:hover {
    color: #48E7EB;
}

.float-num {
    color: #4c84d4;
    background-color: white;
    border-radius: 30px;
    padding: .1em .8em;
    /*margin-right: 40%;*/
    float: left;
    font-size: .5em;

}

#side_nav li {
    border-radius: 20px;
}

#side_nav li a {
    display: block;
    padding: .2em;
    border-radius: 20px;
}

#side_nav li a br {
    clear: left;
}

.tab-chosen {
    background-color: white;
}

#side_nav ul .tab-chosen a {
    color: #4c84d4;
}

.tab-chosen .float-num {
    background-color: #4c84d4;
    color: white;
}
