
*, *::after, *::before {
    box-sizing: border-box;
}

/*this works fine if container only has on child*/
.horizontal-center {
    display: flex;
    justify-content: center;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
}

.none {
    -webkit-flex: none;
    flex: none;
}

.flex1 {
    -webkit-flex: 1;
    flex: 1;
}

.flex2 {
    -webkit-flex: 2;
    flex: 2;
}

.flex3 {
    -webkit-flex: 3;
    flex: 3;
}


.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.right-float {
    float: right;
}

.template {
    display: none;
}

.vague {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}